@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  background-color: whitesmoke;
}

.home-temp {
  background-size: cover;
  min-height: 100vh;
  background-color: whitesmoke;
  margin-top: 100px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #222;
  background-color: whitesmoke;
}

h1 {
  font-size: 3em;
  font-weight: 500;
  margin-bottom: 30px;
}
h2 {
  font-size: 1.5em;
  font-weight: 300;
  margin: 60px 0;
}
p {
  font-size: 1.2em;
  line-height: 1.5em;
  margin-bottom: 30px;
}

/****** Header  ******/
/****** Header  ******/
header {
  position: absolute;
  top: 0;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 150px;
  width: 100%;
}

/****** Navigation  ******/
/****** Navigation  ******/

img.maa {
  height: 80px;
}

nav ul {
  list-style: none;
  display: flex;
  width: 100%;
}

.right-nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.right-nav-margin {
  margin-right: 80px;
}

.main-nav {
  margin-top: 50px;
}
.main-nav a {
  text-decoration: none;
  color: #222;
  font-size: 1.5em;
}
.main-nav a:hover,
.main-nav a.active {
  display: flex;
  text-underline-position: under;
  text-decoration: underline;
  transition: 0.1s;
  color: #222;
}

.main-nav a.active {
  display: flex;
}
.main-nav li ul a {
  display: none;
  margin-top: 10px;
}
.main-nav li:hover > ul a {
  display: flex;
}

/* Navigation: Hamburger  */
#hamburgerIcon {
  display: none; /* Das Icon wird nicht angezeigt, erst wenn der Bildschirm kleiner als 812px ist */
  font-size: 3em;
  cursor: pointer;
  color: #dfdfdf;
}

#hamburgerNav {
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 0; /* Hat eine Breite von 0, wird also nicht angezeigt */
  top: 0;
  left: 0;
  padding-top: 110px;
  overflow-x: hidden;
  transition: 0.5s;
  background-color: #545761;
  z-index: 100;
}

#hamburgerNav .closebtn {
  position: absolute;
  top: 10px;
  right: 40px;
  font-size: 60px;
}

#hamburgerNav a {
  text-decoration: none;
  font-size: 30px;
  line-height: 50px;
  color: #dfdfdf;
  transition: 0.2s;
}
#hamburgerNav a:hover {
  text-decoration: underline;
  text-underline-position: under;
  transition: 0.2s;
}

#hamburgerNav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/******  Main  ******/
/******  Main  ******/
main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 150px 150px 150px 150px;
}
main img {
  width: 100%;
  height: 100%;
}
main .button {
  background-color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 20px 45px;
  text-decoration: none;
}
main .button:hover {
  background-color: #dfdfdf;
}
main .button:hover > a {
  color: #111;
}

main .button a {
  font-size: 2em;
  color: #dfdfdf;
  text-decoration: none;
}

.news,
.index {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.news article {
  width: 45%;
}

button.btn.btn-outline-dark {
  height: 50px;
  margin-bottom: 100px;
}

button a {
  color: #000;
  text-decoration: none;
}

button a:hover {
  color: #fff;
  text-decoration: none;
}

button:hover {
  color: #fff;
  text-decoration: none;
}

img.d-block.w-100 {
  border: 5px solid burlywood;
}

.carousel-indicators li {
  background-color: burlywood !important;
}

/******  Firma  ******/
/******  Firma  ******/

.firma {
  display: flex;
  justify-content: space-between;
  height: 377px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.firma-2 {
  display: flex;
  justify-content: space-between;
  height: 377px;
  margin-top: 250px;
  margin-bottom: 100px;
}

.submit-button {
  padding: 7px;
}

/******  News  ******/
/******  News  ******/

.news-info {
  margin-top: 100px;
}

/****** Währungsrechner  ******/
/****** Währungsrechner  ******/

.wechsel-button {
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 1;
  border: none;
  background-color: rgba(133, 63, 63, 0);
}

.text-rechner {
  margin-bottom: 50px;
}

.swap-icon {
  width: 50px;
  position: absolute;
}

.container-calculator {
  display: flex;
  justify-content: space-between;
  width: 50%;
  align-items: center;
}

.currency-ausgang {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.currency-ziel {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.swap-rate-container {
  display: flex;
  justify-content: center;
  width: 10%;
}

.betrag {
  margin-top: 30px;
}

select#currency-one {
  height: 40px;
  padding-left: 5px;
}

select#currency-two {
  height: 40px;
  padding-left: 5px;
}

input#amount-one {
  height: 40px;
  padding-left: 5px;
}

input#amount-two {
  height: 40px;
  padding-left: 5px;
}
/******  Footer  ******/
/******  Footer  ******/
footer {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 0 100px;
  position: relative;
  bottom: 0;
  z-index: 9999;
  color: white;
  text-align: center;
}

.text-center {
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  left: auto;
  right: auto;
}

/******  Media Screen für Smartphone  ******/
/******  Media Screen für Smartphone  ******/
@media screen and (max-width: 812px) {
  .main-nav {
    display: none;
  }
  #hamburgerIcon {
    display: block;
  }
  footer,
  header {
    padding: 10px 40px;
  }
  main {
    padding: 100px 40px;
  }
}
