@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #dfdfdf;
  background-color: #545761;
}

.home-temp {
  background-image: url(hg.jpg);
  background-size: cover;
  min-height: 100vh;
}

h1 {
  font-size: 3em;
  font-weight: 500;
  margin-bottom: 30px;
}
h2 {
  font-size: 1.5em;
  font-weight: 300;
  margin: 60px 0;
}
p {
  font-size: 1.2em;
  line-height: 1.5em;
  margin-bottom: 30px;
}

/****** Header  ******/
/****** Header  ******/
header {
  position: absolute;
  top: 0;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 100px;
  width: 100%;
}

/****** Navigation  ******/
/****** Navigation  ******/
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.logo-nav a {
  color: #dfdfdf;
  font-size: 2.5em;
  line-height: 1.5em;
  text-decoration: none;
}
.logo-nav:hover {
  animation: perspect 4s infinite ease;
  transition: 0.3s;
}
@keyframes perspect {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

/* Main-Navigation */
.main-nav {
  width: 400px;
  margin-top: 30px;
}
.main-nav a {
  text-decoration: none;
  color: #dfdfdf;
}
.main-nav a:hover,
.main-nav a.active {
  display: flex;
  text-underline-position: under;
  text-decoration: underline;
  transition: 0.1s;
}

/* Navigation: Dropdown Navi   */
.main-nav a.active {
  display: flex;
}
.main-nav li ul a {
  display: none;
  margin-top: 10px;
}
.main-nav li:hover > ul a {
  display: flex;
}

/* Navigation: Hamburger  */
#hamburgerIcon {
  display: none; /* Das Icon wird nicht angezeigt, erst wenn der Bildschirm kleiner als 812px ist */
  font-size: 3em;
  cursor: pointer;
  color: #dfdfdf;
}

#hamburgerNav {
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 0; /* Hat eine Breite von 0, wird also nicht angezeigt */
  top: 0;
  left: 0;
  padding-top: 110px;
  overflow-x: hidden;
  transition: 0.5s;
  background-color: #545761;
  z-index: 100;
}

#hamburgerNav .closebtn {
  position: absolute;
  top: 10px;
  right: 40px;
  font-size: 60px;
}

#hamburgerNav a {
  text-decoration: none;
  font-size: 30px;
  line-height: 50px;
  color: #dfdfdf;
  transition: 0.2s;
}
#hamburgerNav a:hover {
  text-decoration: underline;
  text-underline-position: under;
  transition: 0.2s;
}

#hamburgerNav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/******  Main  ******/
/******  Main  ******/
main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 200px 200px 150px 100px;
}
main img {
  width: 100%;
  height: 100%;
}
main .button {
  background-color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 20px 45px;
  text-decoration: none;
}
main .button:hover {
  background-color: #dfdfdf;
}
main .button:hover > a {
  color: #111;
}

main .button a {
  font-size: 2em;
  color: #dfdfdf;
  text-decoration: none;
}

.news,
.index {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.news article {
  width: 45%;
}

/******  Footer  ******/
/******  Footer  ******/
footer {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 0 100px;
  position: fixed;
  bottom: 0;
}
footer a {
  color: #dfdfdf;
  text-decoration: none;
}
footer a:hover {
  text-underline-position: under;
  text-decoration: underline;
}

#searchform {
  display: flex;
  align-items: center;
  opacity: 0.9;
  color: #555;
}
#searchform input {
  height: 34px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  position: relative;
  left: 20px;
  background-color: #dfdfdf;
}
#searchform button {
  height: 34px;
  width: 34px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #555;
  z-index: 10;
}
#searchform button:hover {
  background-color: #777;
}

.fa-search {
  color: #dfdfdf;
  font-size: 1.5em;
}

/******  Media Screen für Smartphone  ******/
/******  Media Screen für Smartphone  ******/
@media screen and (max-width: 812px) {
  .main-nav {
    display: none;
  }
  #hamburgerIcon {
    display: block;
  }
  footer,
  header {
    padding: 10px 40px;
  }
  main {
    padding: 100px 40px;
  }
}
